[submodule "packages/orchestrator/src/_core"]
	path = packages/orchestrator/src/_core
	url = https://github.com/joncovington/cherrypick-core.git
[submodule "packages/meic/src/_core"]
	path = packages/meic/src/_core
	url = https://github.com/joncovington/cherrypick-core.git
[submodule "packages/earnings/src/_core"]
	path = packages/earnings/src/_core
	url = https://github.com/joncovington/cherrypick-core.git
[submodule "packages/gex/src/_core"]
	path = packages/gex/src/_core
	url = https://github.com/joncovington/cherrypick-core.git
[submodule "packages/flies/src/_core"]
	path = packages/flies/src/_core
	url = https://github.com/joncovington/cherrypick-core.git
